# main modules
.env
node_modules/
node_modules
terraform.tfvars

# Logs
logs/*
*.log
logs/
.env.local
.env.development
.env.production
package-lock.json
yarn.lock
npm-debug.log*
.DS_Store
Thumbs.db
dist/
build/
.vscode/
.idea/
.docker/
docker-compose.override.yml
loaderV.mp4
logs/**/
logs/**/*


# scripts
rename-files.sh

# tests
coverage
