
# Logs
# main modules
# scripts
# tests
*.log
.DS_Store
.docker/
.env
.env.development
.env.local
.env.production
.idea/
.vscode/
Thumbs.db
build/
coverage
dist/
docker-compose.override.yml
loaderV.mp4
logs/
logs/*
logs/**/
logs/**/*
node_modules
node_modules/
npm-debug.log*
package-lock.json
rename-files.sh
terraform.tfvars
yarn.lock
